@import "colors.scss";
@import "mixins.scss";
@import "modal.scss";

// Globals
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: $bc;
    font-family: "Oxygen", sans-serif;
    line-height: 1.6;
}

section,
.container {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

h3 {
    @include title-style;
}

.hidden {
    display: none;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(55, 55, 211, 0.3);
}

header, section:first-child {
    background: url('../img/landing.jpg');
    max-width: none;
    background-size: 100%;
    background-repeat: no-repeat;
}

// Header
header {
    border-bottom: 1px solid $border-c; 
    height: 80px;
    background-position: 0 -520px;

    .container {
        height: 100%;
    }
}

.mc-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
h1 {
    color: white;
    font-size: 24px;
    font-family: "Amiri", sans-serif;
    font-weight: normal;
    display: inline-block;
    margin: 23px 0 0 65px;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
    position: relative;
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background: white;
        transition: all 0.4s ease;
    }
    &:hover {
        &:after {
            width: 100%;
            
        }
    }
}

.header-nav {
    float: right;
    width: 550px;
} 
.about {
    cursor: pointer;
}

.nav-top {
    ul {
        list-style: none;
        height: 80px;
        line-height: 80px;
        li {
            display: inline-block;
            margin-right: 26px;
            font-family: $fonts;
            font-size: 14px;

        }
        &:last-child {
            margin-right: 0;
        }

    }
}

// Landing page
section:first-child {
    background-position: 0 -600px;
    padding: 85px 0;
}

.landing-text {
    color: white;
    font-size: 24px;
    z-index: 5;
    font-weight: 400;
    padding: 50px 0;
}

// Modal 
.modal {
    display: none;
    position: absolute;
    border: 1px solid rgba(136, 136, 136, 0.432);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: 2;
    width: 940px;
    margin: 8% auto;
    height: 450px;

    svg {
        transform: translate(860px, 60px);
        cursor: pointer;
    }
}

.about-modal h3, .careers-modal h3 {
    width: 50%;
    margin: 1.5em 4.2em auto;
}
.content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 5%;
}
.content .string-content {
    display: flex;
    flex-direction: column;
    padding: 28px;
}
.string-content p {
    padding-bottom: 20px;
}
.content .img-container {padding-top: 29px;}
.content .img-container img {
    max-width: 85%;
}

// Mission 
#mission {
    background: white;
    max-width: none;
    width: 100%;
    padding: 5px;
}
#mission > .container {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    @include flex-style;
    flex-direction: row;
    padding: 15px 0 15px 0;
}
.mission-title {
    margin-top: 50px;
}
.mission-text {
    padding: 48px 0 50px 0;
    width: 50%;
    line-height: 1.7;
}
// Services 
#services {
    max-width: 1024px;
}
.box {
    @include flex-style;
    flex-direction: row;
}
.services-sect {
    padding-bottom: 30px;
}
.serv-title {
    margin: 44px 0 28px 0;
}
.holder {
    display: flex;
    flex-direction: row;
    
    .holder ul {
        width: 40%;
    }
}
.sub-title {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 15px;
    padding-top: 15px;
}

.text-container {
    width: 60%;
    padding-right: 70px;
    margin-left: 40px;
    margin-top: 15px;
}
// Breaks the p tags into seperate lines rather than using multiple br tags 
span {
    display: block;
}

// Portfolio 
#portfolio > .container {
        max-width: none;
    }
#portfolio {
    background: white;
    max-width: none;
    width: 100%;

    .port-title {
        margin: 0 auto;
        padding: 40px 0;
        width: 54.2%;
    }
    .img-grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .item {
        font-family: "Oxygen", sans-serif;
        letter-spacing: 3px;
        font-size: 24px;
        text-decoration: none;
        font-weight: 300;
        position: relative;
        width: 50%;
        img {
            display: block;
            width: 100%;
            max-height: 400px;
        }
    }

    .caption {
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

}

// Contact Us 
section#contact, section#contact > .container {
    max-width: none;
    width: 100%;
}

.contact-title {
    padding: 20px 0 30px 20px;
    margin: 30px 430px auto;
}

// Google Maps
#map {
    height: 500px;
    width: 100%;
    background-color: grey;
}
.contact-info { padding: 4em 0; }
.col-cell ul { list-style: none; }
.col-cell ul li.underline { 
    text-decoration: underline; 
    margin-bottom: 15px;
}

.col-cell { padding: 5px 0;} 
.col-cell > span { color: #9a9a9a;}
.contact-info {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    
}

// Footer
footer {

    background: #4a4a4a;
    color: white;
    padding-bottom: 15vh;

    div {

        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-grow: 1;

        small {
            align-self: center;
        }

    }

    .nav {
        ul {
            list-style: none;
            height: 80px;
            line-height: 80px;
            li {
                display: inline-block;
                margin-right: 26px;
                font-family: $fonts;
                font-size: 14px;
            }
        }
    }
}


// Media Queries

// Mobile 
@media only screen and (min-width : 320px) and (max-width : 480px) {
    // Header
    header {
        border-bottom: 1px solid $border-c; 
        height: 80px;
        background-position: 0px 0px;
        background-size: 135%;
    }
    section:first-child {
        background-position: -30px 0;
        background-size: 145%;
        padding: 0;
        background-color: #fff;
    }
    .mc-logo {
        position: relative;
        margin-left: 23px;
    }
    h1 {
        visibility: hidden;
    }
    nav.nav-top {
        // position: absolute;
        // right: 0;
        display: none;
    }
    .header-nav {width: 350px;}
    .nav-top ul {
        line-height: 0;
        height: 25px;
        li {
            margin: 0;
        }
    }
    a.mobile-menu-toggle {
        display: inline-block;
        position: absolute;
        right: 5%;
        bottom: 25%;
    }
    nav.mobile-menu {
        position: absolute;
        right: 0;
        top: 0;
        width: 75%;
        height: 480px;
        background: #4a4a4a;
        z-index: 1;

        #close-container {
            text-align: right;
            padding: 1.65em 0;
            border-bottom: 1px solid #ffffff78;
            
            a.close-mobile-menu {
                display: inline-block;
                position: relative;
                top: 6px;
                right: 28px;
            }
        }

        ul {
            list-style: none;
            line-height: 2.5;
            padding: 2em;

            li {
                font-weight: 300;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
        
    .landing-text {
        font-size: 22px;
        padding: 30px 0 45px 23px;
    }

    // Our Mission
    #mission {
        display: inline-block;
    }
    #mission .container {
        display: block;
    }
    #mission .mission-title {
        padding-left: 23px;
        margin-top: 15px;
    }
    #mission .mission-text {
        width: 100%;
        padding: 25px 0px 50px 22px;
    }

    // Services
    .sub-title {
        padding: 40px;
        margin: 0 auto;
        width: 77%;
        background: #898989;
        color: white;
        text-align: center;
    }
    .box {
        display: block;
    }
    .serv-title {
        padding: 0 0 15px 30px;
    }
    .text-container {
        display: none;
    }
    .holder {
        background-color: white;
        display: block;
        width: 77%;
        margin: 0 auto;
        padding: 28px;
        line-height: 2;
    }
    .holder ul {
        list-style: none;
    }

    // Portfolio 
    #portfolio .port-title {
        padding-bottom: 30px;
        width: 88%;
    }
    #portfolio .item {
        width: 100%;
    }
    #portfolio .item span {
        font-size: 18px;
    }

    // Contact Us
    section#contact {

        .contact-holder .contact-title {
            padding: 30px 0 30px 28px;
            margin: 0;
        }
        .contact-info {
        .col-cell {
            display: block;
            }
        }
        .contact-info, .col-cell {
            display: initial;
            text-align: left;
            padding-left: 30px;
        }
        .contact-info-col1 {
            border-bottom: 1px solid rgba(134, 134, 134, 0.2);
            padding-bottom: 20px;
        }
        .contact-info-col2 {
            padding-top: 30px;
        }
    }

    // Footer 
    footer div {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 30px;
    }
    footer div small {
        align-self: unset;
        padding-top: 15px;
    }
    .footer-nav {
        position: initial;
        border-bottom: 1px solid rgba(88, 88, 88, 0.5);
    }
}

// @media only screen and (min-width: 320px) and (max-width: 459px) {
//     header {
//         border-bottom: 1px solid $border-c; 
//         height: 80px;
//         background-position: 0px 0px;
//         background-size: 135%;
//     }
//     section:first-child {
//         background-position: 0 0;
//         background-size: 100%;
//         padding: 0;
//     }
// }

// Tablets
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    // Header
    .mc-logo {
        margin-left: 32px;
    }
    .header-nav {
        width: 491px;
    }
    h1 {
        visibility: hidden;
    }
    .landing-text {
        padding: 20px 0 30px 34px;
    }

    header {
    border-bottom: 1px solid $border-c; 
    height: 80px;
    background-position: 0px 0px;
    }
    section:first-child {
        background-position: 0 -40px;
        background-size: 100%;
    }

    // Our Mission
    #mission {
        .mission-title {
            @include title-style;
            padding-left: 30px;
            padding-right: 30px;
        }
        .mission-text {
            width: 60%;
        }
    }

    // Portfolio 
    #portfolio .port-title {
        width: 90%;
        padding: 30px 0;
    }

    // Services
    .serv-title {
        padding-left: 32px;
    }
    .sub-title {
    padding: 40px;
    margin: 0 auto;
    width: 60%;
    background: #898989;
    color: white;
    text-align: center;
    }
    .box {
        display: block;
    }
    .text-container {
        display: none;
    }
    .holder {
        background-color: white;
        display: block;
        width: 60%;
        margin: 0 auto;
        padding: 28px;
        line-height: 2;
    }
    .holder ul {
        list-style: none;
    }

    // Contact Us 
    section#contact {
        .contact-title {
            margin: 0;
            padding: 30px 0 30px 40px
        }
  
    }
}