@mixin title-style {
    font-family: $fonts;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #4a4a4a;
    letter-spacing: 3px;
}
@mixin flex-style {
    display: flex;
    justify-content: space-evenly;
}