@import "colors.scss";

.modal {
    display: none;
    position: absolute;
    border: 1px solid rgba(136, 136, 136, 0.432);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
    z-index: 2;
    width: 940px;
    margin: 8% auto;
    height: 450px;

    svg {
        transform: translate(860px, 60px);
        cursor: pointer;
    }
}

.about-modal h3, .careers-modal h3, .portfolio-modal h3 {
    width: 50%;
    margin: 1.5em 4.2em auto;
}
.content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 5%;
}
.content .string-content {
    display: flex;
    flex-direction: column;
    padding: 28px;
}
.string-content p {
    padding-bottom: 20px;
}
.content .img-container {padding-top: 29px;}
.content .img-container img {
    max-width: 85%;
}
@media screen and (min-width : 320px) and (max-width : 480px) {
    .modal {
        min-height: 100%;
        width: 480px;
        top: -39px;
        svg {
            transform: translate(400px,55px);
        }
    }
    .content {
        flex-direction: column;
    }
    .about-modal h3, .careers-modal h3, .portfolio-modal h3 {
        width: 50%;
        margin: 1.5em 2.9em auto;
    }
    .content .img-container {
        padding-top: 0px;
        padding-left: 28px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .modal {
        width: 768px;
        top: 35px;
        svg{
            transform: translate(685px, 55px);
        }
    }
    .about-modal h3, .careers-modal h3, .portfolio-modal h3 {
        margin: 1.5em 3.8em auto;
    }
}
    